*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(media/1-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

}
header{
    position:absolute;
    top:30px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 80%;
}
header >nav >ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hero-text{

    color: white;
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
#tee{
    border: 1px white solid ;
    border-radius: 5px;
    font-size: 15px;
    padding:10px;

}
#tee:hover{
    background-color: rgb(4, 89, 37);
    border: none;
}
#start{
    background-color:rgb(4, 89, 37) ;
    padding: 15px;
    border-radius: 5px;
}
section{
    width: 80%;
    margin: auto;
    text-align: center;
}
.map{
    
    width: 100%;
    height: 500px;
    min-width: 100px;
    border-radius: 10px;
    display: inline-block;
    
}
figure{
    height: 750px;
    width: 350px;
    display: inline-block;
    justify-content: center;
    margin-right: 35px;

}
figcaption{
    text-align: justify;
    margin-top: 20px;

}
#fonts{
    font-size: 40px;
}
figcaption p{
    font-size: 20px;
    word-spacing: 1.3px;
    letter-spacing: 1.3px;
}
section #head{
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 20px;

}
section #bottom{
    margin-bottom: 40px;
    font-size: 50px;

}
#mid{
    height: 200px;

}
#section2 figcaption{
    text-align: center;
}
#section2{
    padding: 40px;
    text-align: center;
    width: 100%;
    background-color: rgba(147, 205, 183,0.2);
}
#figsec2{
    height: 40px;
}
#figsec2 figcaption p{
    font-size: 30px;

}
#section2 p{
    font-size: 30px;
    text-align: center;
    padding: 40px;
}
#section2 a{
    color: black;
    border: black solid 1px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;

}

#section2 a:hover{
    background-color:rgb(4, 89, 37) ;
    color: white;
}
#section3{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 80px;

    

}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mid1{

    width: 600px;
    font-size: 25px;
    text-align: justify;
    word-spacing: 1.3px;
    letter-spacing: 1.3px;
}
#small{
    font-size: 15px;
}
#big{
    font-size: 40px;

}
.mid1 p{
    padding: 15px;
}
#a{
    color: white;
    background-color:rgb(4, 89, 37) ;
    border-radius: 5px;
    padding: 15px;
    
}
#b{
    color: black;
    background-color:white ;
    border-radius: 5px;
    border: solid,black,2px;
    padding: 15px;
}
#b:hover{
    background-color:rgb(4, 89, 37) ;
    color: white;
}
#top{
    font-size: 30px;
}
#mad p{
    text-align: center;
    margin: 15px;
    padding: 0;

}

footer{
    margin: 20px;
    align-items: center;
}
footer img{
    width: 60px;
    height: 60px;
    margin: auto;
}
footer a{
    text-decoration: none;
    padding: 8px;
    color: black;
}
footer p{
    margin-left: auto;
    font-size: 1.1rem;
}
.hero2{
    height: 60vh;
    width: 100%;
    background-image: url(media/7-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero2-text{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.hero2-text a{
    margin-top: 30px;
    border: white solid 2px;
    padding: 20px;
    border-radius: 5px;
}

.hero2-text a:hover{
    background-color: rgb(4, 89, 37);
}
#figsec2 img{
    border-radius: 50%;
}
#samp{
    width: 600px;
    margin: auto;
}
@media screen and (max-width:785px){
    header{
        width: 100%;
        flex-direction: column;
    }
    .hero-text{
        font-size: 30px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }
    #tee{
        border: 1px white solid ;
        border-radius: 5px;
        font-size: 12px;
        padding:5px;
        
    
    }
    .hero{
        height: 70vh;
        width: 100%;
        background-image: url(media/1-home.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .hero-text a{
        width: 140px;
        padding: 5px;

    }
    #samp{
        font-size: 10px;
    }
    #section2 p{
        font-size: 20px;
        width: 400px;

    }
    .mid1{
        margin-left: 20px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}
